**Basic Steps**

In [ ]:
print('Hello world')

Hello world

**Upload Data from loacal system**

In [ ]:
from google.colab import files 
uploaded = files.upload()

Saving IPL IMB381IPL2013.csv to IPL IMB381IPL2013.csv

**IMPORT FILES FROM DRIVE INTO GOOGLE-COLAB:**

**STEP-1: Import Libraries**

In [ ]:

# Code to read csv file into colaboratory:
!pip install -U -q PyDrive
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

**STEP-2: Autheticate E-Mail ID**

In [ ]:
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

**STEP-3: Get File from Drive using file-ID**

In [ ]:
#2.1 Get the file
downloaded = drive.CreateFile({'id':'1Ig6_RqJCmRhGwGGD9yaw5yO1MASpyd3F'}) # replace the id with id of file you want to access
downloaded.GetContentFile('IPL IMB381IPL2013.csv')

**STEP-4: Read File**

In [ ]:
#3.1 Read file as panda dataframe
import pandas as pd
ipl_df = pd.read_csv('IPL IMB381IPL2013.csv') 
print(ipl_df.head(10))

   Sl.NO.    PLAYER NAME  AGE  ... AUCTION YEAR BASE PRICE SOLD PRICE
0       1    Abdulla, YA    2  ...         2009      50000      50000
1       2   Abdur Razzak    2  ...         2008      50000      50000
2       3    Agarkar, AB    2  ...         2008     200000     350000
3       4      Ashwin, R    1  ...         2011     100000     850000
4       5   Badrinath, S    2  ...         2011     100000     800000
5       6     Bailey, GJ    2  ...         2009      50000      50000
6       7      Balaji, L    2  ...         2011     100000     500000
7       8  Bollinger, DE    2  ...         2011     200000     700000
8       9       Botha, J    2  ...         2011     200000     950000
9      10    Boucher, MV    2  ...         2008     200000     450000

[10 rows x 26 columns]

In [ ]:
pd.set_option('display.max_columns', 7)

In [ ]:
ipl_df.head(5)

   Sl.NO.   PLAYER NAME  AGE  ... AUCTION YEAR BASE PRICE SOLD PRICE
0       1   Abdulla, YA    2  ...         2009      50000      50000
1       2  Abdur Razzak    2  ...         2008      50000      50000
2       3   Agarkar, AB    2  ...         2008     200000     350000
3       4     Ashwin, R    1  ...         2011     100000     850000
4       5  Badrinath, S    2  ...         2011     100000     800000

[5 rows x 26 columns]

Finding metadata of the DataFrame

In [ ]:
list(ipl_df.columns)

['Sl.NO.',
 'PLAYER NAME',
 'AGE',
 'COUNTRY',
 'TEAM',
 'PLAYING ROLE',
 'T-RUNS',
 'T-WKTS',
 'ODI-RUNS-S',
 'ODI-SR-B',
 'ODI-WKTS',
 'ODI-SR-BL',
 'CAPTAINCY EXP',
 'RUNS-S',
 'HS',
 'AVE',
 'SR-B',
 'SIXERS',
 'RUNS-C',
 'WKTS',
 'AVE-BL',
 'ECON',
 'SR-BL',
 'AUCTION YEAR',
 'BASE PRICE',
 'SOLD PRICE']

**Finding Summary of the DataFrame**

In [ ]:
ipl_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 130 entries, 0 to 129
Data columns (total 26 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Sl.NO.         130 non-null    int64
 1   PLAYER NAME    130 non-null    object
 2   AGE            130 non-null    int64
 3   COUNTRY        130 non-null    object
 4   TEAM           130 non-null    object
 5   PLAYING ROLE   130 non-null    object
 6   T-RUNS         130 non-null    int64
 7   T-WKTS         130 non-null    int64
 8   ODI-RUNS-S     130 non-null    int64
 9   ODI-SR-B       130 non-null    float64
 10  ODI-WKTS       130 non-null    int64
 11  ODI-SR-BL      130 non-null    float64
 12  CAPTAINCY EXP  130 non-null    int64
 13  RUNS-S         130 non-null    int64
 14  HS             130 non-null    int64
 15  AVE            130 non-null    float64
 16  SR-B           130 non-null    float64
 17  SIXERS         130 non-null    int64
 18  RUNS-C         130 non-null    int64
 19  WKTS           130 non-null    int64
 20  AVE-BL         130 non-null    float64
 21  ECON           130 non-null    float64
 22  SR-BL          130 non-null    float64
 23  AUCTION YEAR   130 non-null    int64
 24  BASE PRICE     130 non-null    int64
 25  SOLD PRICE     130 non-null    int64
dtypes: float64(7), int64(15), object(4)
memory usage: 26.5+ KB

**Slicing and Indexing a dataframe**
**Selecting Rows by Indexes**

In [ ]:
ipl_df[0:5]

   Sl.NO.   PLAYER NAME  AGE  ... AUCTION YEAR BASE PRICE SOLD PRICE
0       1   Abdulla, YA    2  ...         2009      50000      50000
1       2  Abdur Razzak    2  ...         2008      50000      50000
2       3   Agarkar, AB    2  ...         2008     200000     350000
3       4     Ashwin, R    1  ...         2011     100000     850000
4       5  Badrinath, S    2  ...         2011     100000     800000

[5 rows x 26 columns]

In [ ]:
ipl_df[-5:]

     Sl.NO.   PLAYER NAME  AGE  ... AUCTION YEAR BASE PRICE SOLD PRICE
125     126     Yadav, AS    2  ...         2010      50000     750000
126     127   Younis Khan    2  ...         2008     225000     225000
127     128  Yuvraj Singh    2  ...         2011     400000    1800000
128     129   Zaheer Khan    2  ...         2008     200000     450000
129     130    Zoysa, DNT    2  ...         2008     100000     110000

[5 rows x 26 columns]

Selecting Columns by Column Names

In [ ]:
ipl_df['PLAYER NAME'][0:5]

0     Abdulla, YA
1    Abdur Razzak
2     Agarkar, AB
3       Ashwin, R
4    Badrinath, S
Name: PLAYER NAME, dtype: object

In [ ]:
ipl_df[['PLAYER NAME', 'COUNTRY']][0:5]

    PLAYER NAME COUNTRY
0   Abdulla, YA      SA
1  Abdur Razzak     BAN
2   Agarkar, AB     IND
3     Ashwin, R     IND
4  Badrinath, S     IND

Selecting Rows and Columns by indexes

In [ ]:
ipl_df.iloc[4:9, 1:4]

**Cross-tabulation between two columns**

In [ ]:
pd.crosstab( ipl_df['AGE'], ipl_df['PLAYING ROLE'] )

PLAYING ROLE  Allrounder  Batsman  Bowler  W. Keeper
AGE
1                      4        5       7          0
2                     25       21      29         11
3                      6       13       8          1

**Creating new columns**
**Which player got the maximum premium on the base price?**

In [ ]:
ipl_df['premium'] = ipl_df['SOLD PRICE'] - ipl_df['BASE PRICE']
ipl_df[['PLAYER NAME', 'BASE PRICE', 'SOLD PRICE', 'premium']][0:5]

    PLAYER NAME  BASE PRICE  SOLD PRICE  premium
0   Abdulla, YA       50000       50000        0
1  Abdur Razzak       50000       50000        0
2   Agarkar, AB      200000      350000   150000
3     Ashwin, R      100000      850000   750000
4  Badrinath, S      100000      800000   700000

In [ ]:
ipl_df[['PLAYER NAME','BASE PRICE','SOLD PRICE', 'premium']].sort_values('premium',ascending = False)[0:5]

**Drawing Plots**

In [ ]:
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sn
%matplotlib inline

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [ ]:
import warnings
warnings.filterwarnings('ignore')

In [ ]:
plt.bar(ipl_df['PLAYING ROLE'],ipl_df['SOLD PRICE'])

In [ ]:
sn.barplot(ipl_df['PLAYING ROLE'],ipl_df['SOLD PRICE'])

Histogram

In [ ]:
plt.hist( ipl_df['SOLD PRICE'] );

In [ ]:
plt.hist( ipl_df['SOLD PRICE'], bins = 20 );

In [ ]:
sn.distplot( ipl_df['SOLD PRICE']);

In [ ]:
box = sn.boxplot(ipl_df['SOLD PRICE']);

In [ ]:
sn.boxplot(x = 'PLAYING ROLE', y = 'SOLD PRICE', data = ipl_df);

Correlations and Heatmaps

In [ ]:
influential_features = ['SR-B', 'AVE', 'SIXERS', 'SOLD PRICE']

In [ ]:
ipl_df[influential_features].corr()

In [ ]:
sn.heatmap(ipl_df[influential_features].corr(), annot=True);

**Multiple Linear Regression**

In [ ]:
import statsmodels.api as sm

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_features = ipl_df.columns

In [ ]:
X_features = ['AGE', 'COUNTRY', 'PLAYING ROLE',
'T-RUNS', 'T-WKTS', 'ODI-RUNS-S', 'ODI-SR-B',
'ODI-WKTS', 'ODI-SR-BL', 'CAPTAINCY EXP', 'RUNS-S',
'HS', 'AVE', 'SR-B', 'SIXERS', 'RUNS-C', 'WKTS',
'AVE-BL', 'ECON', 'SR-BL']

Encoding Categorical Features

In [ ]:
ipl_df['PLAYING ROLE'].unique()

In [ ]:
pd.get_dummies(ipl_df['PLAYING ROLE'])[0:5]

In [ ]:
categorical_features = ['AGE', 'COUNTRY', 'PLAYING ROLE', 'CAPTAINCY EXP']

In [ ]:
ipl_encoded_df = pd.get_dummies( ipl_df[X_features],
columns = categorical_features,
drop_first = True )

In [ ]:
ipl_encoded_df.columns

In [ ]:
X_features = ipl_encoded_df.columns

In [ ]:
X = sm.add_constant( ipl_encoded_df )
Y = ipl_df['SOLD PRICE']
train_X, test_X, train_y, test_y = train_test_split( X ,
Y,
train_size = 0.8,
random_state = 42 )

In [ ]:
ipl_model_1 = sm.OLS(train_y, train_X).fit()
ipl_model_1.summary2()